.connection-form {
    width: 100%;
    max-width: 500px;

    &__error {
        color: rgb(113, 113, 122);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.4px;
        margin-top: 5px;
    }

    form {
        display: flex;
        gap: 8px;
    }

    input {
        width: 100%;
        border: 1px solid rgb(228, 228, 231);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        border-radius: 6px;
        padding: 4px 12px;
        height: 36px;
    }

    button[type="submit"] {
        position: relative;
        width: 100%;
        max-width: 150px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(250, 250, 250);
        font-weight: 500;
        font-size: 14px;
        padding: 4px 12px;
        margin: 0;
        border: none;
        border-radius: 6px;
        background-color: rgb(24, 24, 27);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(24, 24, 27, 0.9);
        }
    }

    &__connected {
        position: relative;
        width: 100%;
        background: rgb(244, 244, 245);
        padding: 4px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        p {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.6px;
            padding: 0 8px;
        }
    }

    &__break {
        width: 150px;
        height: 36px;
        text-wrap: nowrap;
        padding: 4px 12px;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}